:root {
  --background: #030203;
  --text: #F8F6F9;
  --primary: #A2BA91;
  --secondary: #121C13;
  --accent: #959A60;
}

*::before, *::after, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: var(--background);
  color: var(--text);
}